#ark-sticky-header {
    position: fixed;
    height: var( --sticky-header-height--expanded );
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    color: var( --sticky-header-text-color );
    display: flex;
    gap: var( --sticky-header-item-spacing );
    box-shadow: 0 3px 12px 0 var( --sticky-header-shadow-color );
    align-items: center;
    padding: var( --sticky-header-padding );
    background: var( --sticky-header-background-color );
    transform: translateY( -100% );
    transition: transform .3s;
}

html {
    scroll-padding-top: calc( var( --netbar-height ) + var( --sticky-header-height ) + 1em );
}

.is-sticky-header-visible #ark-sticky-header {
    transform: translateY( var( --netbar-height ) );
}

/* #region Back to top button */
#ark-top-button {
    background: var( --return-to-top-background-color );
    position: fixed;
    left: 0.5rem;
    bottom: -2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 40%;
    opacity: 0.9;
    box-shadow: -1px 2px 8px 1px var( --sticky-header-shadow-color );
    transition: transform .3s, opacity 0.05s;
    display: flex;
    justify-content: center;
    align-items: center;;
}

#ark-top-button:hover {
    opacity: 1;
}

#ark-top-button::before {
    display: block;
    mask-image: var(--icon-top);
}

.is-sticky-header-visible #ark-top-button {
    transform: translateY( -2.8rem );
}
/* #endregion */

/* #region Wiki and page title */
.ark-sticky-header__page-box {
    font-size: 108%;
    font-weight: 600;
    white-space: nowrap;
}

.ark-sticky-header__page-box a,
.ark-sticky-header__page-box a:visited,
.ark-sticky-header__page-box a:link {
	display: flex;
	align-items: center;
    color: var(--sticky-header-link-color);
}

.ark-sticky-header__wiki-title {
    margin-left: 0.5em;
    font-size: 90%;
    line-height: 1.25;
}

.ark-sticky-header__page-title {
    display: block;
    margin-left: 0;
    font-size: 70%;
}
/* #endregion */
/* #region Search */
.ark-sticky-header__search-box {
    flex-grow: 1;
    flex-basis: 100%;
}

.ark-sticky-header__search-box > #p-search {
    margin: 0;
    width: 100%;
}
  
.ark-sticky-header__search-box .vector-search-box form {
    margin: 0;
}
  
.ark-sticky-header__search-box .vector-search-box-inner {
    width: 100%;
    max-width: unset;
}
  
.ark-sticky-header__search-box .vector-search-box-input {
    height: var(--sticky-header-search-height);
    padding-left: 0.8em;
    font-size: 0.85em;
    background: var(--search-background-color--sticky);
    color: var(--search-text-color--sticky);
    border-color: var(--search-border-color--sticky);
    border-radius: var(--sticky-search-border-radius);
}

.ark-sticky-header__search-box .vector-search-box-inner:hover .vector-search-box-input {
    background: var( --search-background-color--sticky-active );
}
  
.ark-sticky-header__search-box input::placeholder {
    color: var(--search-text-color--placeholder-sticky);
}

.ark-sticky-header__search-box .vector-search-box-inner .searchButton {
    filter: var( --search-button-filter--sticky );
}
/* #endregion */
/* #region Buttons */
.ark-sticky-header__button-box {
    display: flex;
    justify-content: flex-end;
}

.ark-sticky-header__button {
    color: var(--sticky-button-text-color);
    padding: 0.22rem;
    border: 1px solid var(--sticky-button-border-color);
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-width: 0;
    background-color: var(--sticky-button-background-color);
    box-sizing: border-box;
}

.ark-sticky-header__button:hover,
.ark-sticky-header__button:focus {
    background-color: var(--sticky-button-hover-background-color);
}

.ark-sticky-header__button:first-child {
    border-left-width: 1px;
    border-top-left-radius: var(--sticky-button-border-radius);
    border-bottom-left-radius: var(--sticky-button-border-radius);
}
.ark-sticky-header__button:last-child {
    border-top-right-radius: var(--sticky-button-border-radius);
    border-bottom-right-radius: var(--sticky-button-border-radius);
}

.ark-sticky-header__button--with-icon {
    font-size: 0;
    width: 32px;
}
.ark-sticky-header__button--with-icon::before,
#ark-top-button::before {
    content: '';
    background: var( --sticky-button-icon-color );
    width: 1.5rem;
    height: 1.5rem;
    mask: no-repeat center / contain;
}
#ark-sticky-header #sticky-edit::before {
    mask-image: var( --icon-edit );
}
#ark-sticky-header #sticky-toc::before {
    mask-image: var( --icon-toc );
}
#ark-sticky-header #sticky-history::before {
    mask-image: var( --icon-history );
}
#ark-sticky-header #sticky-talk::before {
    mask-image: var( --icon-talk );
}
/* #endregion */
 
.is-sticky-header-visible #p-cactions .vector-menu-content {
	display: none;
}

/* #region Table of contents */
#ark-sticky-header #sticky-toc {
    position: relative;
    transition: border-bottom-left-radius .07s;
}
#ark-sticky-header #sticky-toc > .toc {
    display: none;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: 250px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 6px;
    line-height: 1.4;
    font-size: 14px;
}
.is-sticky-header-visible #ark-sticky-header #sticky-toc:hover {
	border-bottom-left-radius: 0;
}
.is-sticky-header-visible #ark-sticky-header #sticky-toc:hover > .toc {
    display: block;
}
#ark-sticky-header #sticky-toc > .toc > ul {
    margin: 0;
}
#ark-sticky-header #sticky-toc > .toc > ul ul {
    font-size: 90%;
}
/* #endregion */

@media screen and (max-width: 720px) {
    .ark-sticky-header__page-box,
    .ark-sticky-header__button-box {
        flex-basis: unset;
    }
    .ark-sticky-header__page-box span {
        position: absolute;
        top: -50px;
        font-size: 1px;
    }
    .ark-sticky-header__search-box #searchInput {
        height: var( --sticky-header-search-height );
        border-bottom: none;
        border-top: none;
    }
    .ark-sticky-header__button-box {
        display: none;
    }
    .ark-sticky-header__button {
        padding: 0 0.5em;
        height: var( --sticky-header-height );
    }
    .ark-sticky-header__button:first-child {
        border-left-width: 0;
    }
}
