#ark-sticky-header {
    position: fixed;
    height: 50px;
    top: -50px;
    left: 0;
    right: 0;
    background: #181d4d;
    z-index: 20;
    color: #fff;
    display: flex;
    box-shadow: 0 3px 12px 0 #0000004d;
    align-items: center;
    padding: 0 1em;
    background: rgba(var(--content-border-color--rgb), 0.98);
    transition: transform .3s;
}

#ark-sticky-header.is-visible {
    transform: translateY(calc( var(--netbar-height) + 50px));
}
  
#ark-sticky-header > div {
    flex-grow: 1;
}
  
#ark-sticky-header > .sticky-wiki-name {
    font-size: 108%;
    font-weight: 600;
    color: #fff;
}
  
#ark-sticky-header > .sticky-search-box {
    margin-left: 2.5em;
    background: #fff4;
    /*! margin: 0 auto; */
    flex-grow: 0;
}
  
#ark-sticky-header > .sticky-search-box h3 {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
  
#ark-sticky-header > .sticky-search-box #simpleSearch {
    width: 35vw;
    max-width: 25em;
}
  
#ark-sticky-header > .sticky-search-box input {
    height: 2.5em;
    padding-left: 0.8em;
}
  
#ark-sticky-header > .sticky-search-box #searchButton {
    filter: invert(1) brightness(120%);
}
  
#ark-sticky-header > .sticky-search-box input::placeholder {
    color: #ccc;
}