/* [[de:MediaWiki:Theme-dark-blue.css]] * [[es:MediaWiki:Theme-dark-blue.css]] * [[fr:MediaWiki:Theme-dark-blue.css]] * [[it:MediaWiki:Theme-dark-blue.css]] * [[ja:MediaWiki:Theme-dark-blue.css]] * [[pl:MediaWiki:Theme-dark-blue.css]] * [[pt-br:MediaWiki:Theme-dark-blue.css]] * [[ru:MediaWiki:Theme-dark-blue.css]] * [[th:MediaWiki:Theme-dark-blue.css]] */
/* CSS placed here will affect users with the "dark-blue" theme enabled */

/* #region Theme variables */
.theme-dark-blue {
    --content-background-color: rgb(3, 30, 40);
    --content-background-color--rgb: 4,36,48; /*3, 30, 40;*/
    --content-text-color: #a0ddec;
    --content-text-link-color: #36c5cc;
    --content-default-link-color: #52e4eb;
    --content-default-link-color--rgb: 82, 228, 235;
    --content-border-color: #7fe7ff;
    --content-border-color--rgb: 127, 231, 255;
    --content-header-color: var(--content-text-color);
    /* Sticky header */
    --sticky-header-background-color: rgba(26, 55, 64, 0.98);
    --sticky-button-hover-background-color: #6da5b9;
    /* History and diffs */
    --diff-background-color: rgba(0,0,0,0.3);
    --diff-plusminus-pos-color: #00A500;
    --diff-plusminus-neg-color: #C60000;
    --diff-deletedline-background-color: #b103039d;
    --diff-deletedline-text-color: #e62444;
    --diff-deletedline-border-color: #440000;
    --diff-addedline-background-color: #004400;
    --diff-addedline-text-color: #bfd959;
    --diff-addedline-border-color: #00bb009d;
    --diff-context-background-color: #4a586f57;
    --diff-context-border-color: #ebeef4;
    --diff-context-text-color: var(--content-text-color);
    --pagehist-selected-background-color: #f7f5c6;
    --pagehist-selected-text-color: #252626;
    --updatedmarker-color: #000;
}
