/* [[de:MediaWiki:Theme-light.css]] * [[es:MediaWiki:Theme-light.css]] * [[fr:MediaWiki:Theme-light.css]] * [[it:MediaWiki:Theme-light.css]] * [[ja:MediaWiki:Theme-light.css]] * [[pl:MediaWiki:Theme-light.css]] * [[pt-br:MediaWiki:Theme-light.css]] * [[ru:MediaWiki:Theme-light.css]] * [[th:MediaWiki:Theme-light.css]] */
/* CSS placed here will affect users with the "Light" theme enabled */

/* #region Theme variables */
html {
	--theme-accent-color: #005c62;
    --theme-accent-color--rgb: 0, 92, 98;
    --page-background-color: #b8cac4;
    --page-background-color--rgb: 204, 200, 206;
    --content-background-color: #d8dada;
    --content-background-color--rgb: 216, 218, 218;
    --content-text-color: #000;
	--content-header-color: #353333;
    --content-text-link-color: #537906;
    --content-border-color: #aaa;
    --content-border-color--rgb: 101, 138, 25;
    --content-default-link-color: #7ba428;
    --content-default-link-color--rgb: 123, 164, 40;
    --articlenav-background-color: #dde1d6e6;
    --articlenav-border-color: #0b1212;
    --code-background-color: #bbc1c1;
    --code-border-color: #aaacae;
    /* Assets */
    --list-bulletpoint-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%225%22 height=%2213%22%3E %3Ccircle cx=%222.5%22 cy=%229%22 r=%222.5%22 fill=%22%23222%22/%3E %3C/svg%3E");
    /* Sidebar */
    --sidenav-text-hover-color: #afdd53;
    --sidenav-toggle-icon-filter: none;
    /* Table of contents */
    --toc-background-color: #cecece;
	--toc-number-color: #4a4d4b;
    /* Tabbers */
    --tabber-shadow-color: var(--ark-arkitex-border-color);
    --tabber-shadow-active-color: var(--sidenav-header-text-color);;
    --tabber-shadow-hover-color: #eacb97;
    --tabber-background-hover-color: #eacc97a2;
    --tabber-text-hover-color: #363636;
    --tabber-background-active-color: #bb955391; 
    /* Tables */
    --table-background-color: var(--content-background-color);
    --table-border-color: #7f8d93;
    --table-heading-background-color: #b2b9af;
    /* Frontpage */
    --fp-heading-text-color: var(--content-text-color);
    --fp-heading-border-color: #bbba59;
    --fp-box-background-color: #dddbd1;
    /* Math */
    --math-filter: none;
    /* OOUI */
    --oo-ui-icon-filter--normal: none;
    --oo-ui-icon-filter--normal-progressive: brightness(0) invert(54%) sepia(98%) saturate(349%) hue-rotate(38deg) brightness(89%) contrast(83%);
    --oo-ui-icon-filter--required: none;
    --oo-ui-icon-filter--alert: brightness(82%);
    --oo-ui-widget-disabled-opacity: 0.6;
    --oo-ui-button-background-color--framed: #dedfdf;
    --oo-ui-button-background-color--progressive-hover: #a8ca63;
    --oo-ui-button-border-color: #668a1d;
    --oo-ui-button-text-color--framed-progressive: #000;
    --oo-ui-button-text-color--frameless-hover: #7ba428;
    --oo-ui-input-background-color: #ececec;
    --oo-ui-input-background-color--readonly: #d7d7d7;
    --oo-ui-input-border-color: rgba(var(--content-border-color--rgb), 0.8);
    --oo-ui-input-text-color: #000;
    --oo-ui-input-text-color--readonly: #444;
    --oo-ui-dropdown-input-background-color--open: #fafafa;
    --oo-ui-dropdown-input-background-color--hover: #fafafa;
    --oo-ui-option-background-color--highlight: #0002;
    --oo-ui-option-background-color--selected: #adb89b60;
    --oo-ui-option-background-color--selected-highlight: #a4b38690;
    --oo-ui-warning-background-color: #dbcb99;
    --oo-ui-warning-text-color: #000;
    --oo-ui-notice-background-color: #b9baba;
    /* Ambox */
    --ark-ambox-background-color: #ddd;
    /* Template:Navbox */
    --ark-navbox-title-text-color: var(--content-text-color);
    --ark-navbox-title-link-color: var(--content-default-link-color);
    --ark-navbox-title-background-color: var(--ark-arkitex-background-color);
    --ark-navboxgroup-title-background-color: #ffffffb0;
    --ark-navboxgroup-title-text-color: var(--content-text-color);
    --ark-navboxgroup-title-border-color: #a2a9b1;
    /* Arkitexure */
	--ark-arkitex-background-color: #c0cfc9;
    --ark-arkitex-border-color: var(--sidenav-header-background);
    --ark-arkitex-accent-color: whitesmoke;
    --ark-arkitex-left-color: #EDF3EB;
    --ark-arkitex-right-color: #fff;
    /* PaintRegion */
    --ark-paintregion-background-color: #EDF3EB;
    --ark-paintregion-border-color: var(--content-border-color);
    /* Template:DossierText & Template:Quote */
    --ark-cite-quote-color: #7d5f2a;
    --ark-dossier-background-color: #e1d8c494;
    --ark-dossier-border-color: #7d5f2a;
    --ark-dossier-text-color: #3c2a09;
    --ark-dossiernote-background-color: #f7eedf;
    --ark-dossiernote-border-color: #7d5f2a;
    /* Module:LootTable */
    --ark-loottable-background-color: #ced5d29a;
    --ark-loottable-header-color: #b3ccce80;
    --ark-loottable-bar-color: var(--theme-accent-color);
    /* Difficulty level colors */
    --ark-difficulty-gamma: #48BF15;
    --ark-difficulty-beta: #17B5D8;
    --ark-difficulty-alpha: #D85847;
    --ark-difficulty-none: #BCEEFA;
    /* Template:Mission */
    --ark-mission-background-color: #e6e8e8bb;
    --ark-mission-text-color: var(--content-text-color);
    /* Template:HoverNote */
    --ark-hovertext-text-color: var(--theme-accent-color);
    /* Kibble tables */
    --ark-kibbletable-border-color: #ccc;
    --ark-kibbletable-background-color: #fff;
    /* Extension:DataMaps */
    --datamaps-popup-subtitle-text-color: #666;
    --datamaps-container-select-background--rgb: 166, 148, 122;
    /* Sticky header */
    --sticky-header-background-color: rgba(101, 138, 25, 0.98);
    /*misc*/
    --gray-table-background-color: #0606064f;
    /*History and diffs*/
    --diff-background-color: none;
    --diff-plusminus-pos-color: #00A500;
    --diff-plusminus-neg-color: #C60000;
    --diff-deletedline-background-color: #fb060687;
    --diff-deletedline-diffchange-background-color: #683b3994;
    --diff-deletedline-text-color: #faa2b1;
    --diff-deletedline-border-color: #440000;
    --diff-addedline-background-color: #035f03;
    --diff-addedline-text-color: #e2f792;
    --diff-addedline-border-color: #00bb009d;
    --diff-addedline-diffchange-background-color: #51b85694; 
    --diff-context-background-color: #f8f9fa;
    --diff-context-border-color: #9b9b9b;
    --diff-context-text-color: #202122;
    --pagehist-selected-background-color: #f7f5c6;
    --pagehist-selected-text-color: #252626;
    --pagehist-last-visit-color: #000;
}
/* #endregion */

/* #region Do not invert PS and Xbox icons */
img[src*="/PS.svg/"], img[src*="/Xbox_Series.svg/"] {
    filter: none;
}
/* #endregion */

/* #region Article navigation icons */
@media screen and (max-width: 600px) {
    div.vector-menu-tabs li.selected a,
    div.vector-menu-tabs li.selected a:visited,
    body div.vector-menu-tabs li a,
    body #right-navigation div.vector-menu-dropdown h3 span {
        border-color: #000;
    }
    div.vector-menu-tabs li a::before,
    div.vector-menu-dropdown h3 span::before {
        filter: none;
    }
}
/* #endregion */

/* #region [[Template:ResourceMap]] */
.map-legend input[type="checkbox"] + label {
    color: #3c0000;
}
.map-legend input[type="checkbox"]:checked + label {
    color: #003c00;
}
/* #endregion */

/* #region Wikitext editor */
div.wikiEditor-ui-toolbar {
    --oo-ui-icon-filter--normal: none;
}
/* #endregion */