/* [[de:MediaWiki:Theme-amoled.css]] * [[es:MediaWiki:Theme-amoled.css]] * [[fr:MediaWiki:Theme-amoled.css]] * [[it:MediaWiki:Theme-amoled.css]] * [[ja:MediaWiki:Theme-amoled.css]] * [[pl:MediaWiki:Theme-amoled.css]] * [[pt-br:MediaWiki:Theme-amoled.css]] * [[ru:MediaWiki:Theme-amoled.css]] * [[th:MediaWiki:Theme-amoled.css]] */
/* CSS placed here will affect users with the "amoled" theme enabled */

/* #region Theme variables */
.theme-amoled{
    --theme-accent-color: #0d6f70;
    --theme-accent-color--rgb: 13, 111, 112;
    --page-background-color: #0b1212;
    --page-background-color--rgb: 11, 18, 18;
    --content-background-color: #272828;
    --content-background-color--rgb: 39, 40, 40;
    --content-text-color: #ebebeb;
    --content-header-color: #fff;
    --content-text-link-color: #9acd32;
    --content-border-color: #658a19;
    --content-border-color--rgb: 101, 138, 25;
    --content-default-link-color: #9acd32;
    --content-default-link-color--rgb: 154, 205, 50;
    --articlenav-background-color: #313232e6;
    --articlenav-border-color: #3c3e40;
    --articlenav-border-color--tiny: #a3a7ab;
    --code-background-color: #202020;
    --code-border-color: #525354;
    /* Assets */
    --list-bulletpoint-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%225%22 height=%2213%22%3E %3Ccircle cx=%222.5%22 cy=%229%22 r=%222.5%22 fill=%22%23fff%22/%3E %3C/svg%3E");
    /* Sidebar */
    --sidenav-header-background: #e5e5e5;
    --sidenav-header-text-color: #202020;
    --sidenav-background-color: #3d3e3d50;
    --toolbar-background-color: #607c26ce;
    --toolbar-list-background-color: #66783dfa;
    --toolbar-border-color: #234064;
    /* Table of contents */
    --toc-background-color: #424442;
    --toc-number-color: #cecece;
    /* Tabbers */
    --tabber-shadow-color: var(--ark-arkitex-border-color);
    --tabber-shadow-active-color: var(--sidenav-header-text-color);
    --tabber-shadow-hover-color: #8dc224;
    --tabber-background-hover-color: #8dc22488;
    --tabber-text-hover-color: #000;
    --tabber-background-active-color: #5e811896;
    /* Tables */
    --table-background-color: var(--content-background-color);
    --table-border-color: #3d555e;
    --table-heading-background-color: #2a454f;
    /* Frontpage */
    --fp-heading-text-color: var(--content-text-color);
    --fp-heading-border-color: #749ca4;
    --fp-box-background-color: #1d2526;
    /* Ambox */
    --ark-ambox-background-color: #0000004D;
    /* Template:Navbox */
    --ark-navbox-title-text-color: var(--content-text-color);
    --ark-navbox-title-link-color: var(--content-default-link-color);
    --ark-navbox-title-background-color: var(--ark-arkitex-background-color);
    --ark-navboxgroup-title-background-color: #2c2c2c;
    --ark-navboxgroup-title-text-color: var(--content-text-color);
    --ark-navboxgroup-title-border-color: #94c436;
    /* Arkitexure */
	--ark-arkitex-background-color: #535353;
    --ark-arkitex-border-color: var(--sidenav-header-background);
    --ark-arkitex-accent-color: amoledgrey;
    --ark-arkitex-left-color: #3d3e3d;
    --ark-arkitex-right-color: #232821;
    /* PaintRegion */
    --ark-paintregion-background-color: #756f6f;
    --ark-paintregion-border-color: var(--content-border-color);
    /* Template:DossierText & Template:Quote */
    --ark-cite-quote-color: #2d74bed9;
    --ark-dossier-background-color: #6e92c036;
    --ark-dossier-border-color: #2d74bea6;
    --ark-dossier-text-color: #88E9FF;
    --ark-dossiernote-background-color: #1a3b4d;
    --ark-dossiernote-border-color: #2d74be;
    /* Module:LootTable */
    --ark-loottable-background-color: #021e289a;
    --ark-loottable-header-color: #0b58599a;
    /* Difficulty level colors */
    --ark-difficulty-gamma: #4edb17;
    --ark-difficulty-beta: #19cff9;
    --ark-difficulty-alpha: #f76450;
    --ark-difficulty-none: #BCEEFA;
    /* Template:Mission */
    --ark-mission-background-color: #003E4C;
    --ark-mission-text-color: #BCEEFA;
    /* Template:HoverNote */
    --ark-hovertext-text-color: #4FB5FF;
    /* Kibble tables */
    --ark-kibbletable-border-color: #2d74bea6;
    --ark-kibbletable-background-color: #6e92c036;
    /* Theme toggle */
    --theme-toggle-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M17.39 15.14A7.33 7.33 0 0 1 11.75 1.6c.23-.11.56-.23.79-.34a8.19 8.19 0 0 0-5.41.45 9 9 0 1 0 7 16.58 8.42 8.42 0 0 0 4.29-3.84 5.3 5.3 0 0 1-1.03.69z'/%3E%3C/svg%3E%0A") /* MW's OOUI moon icon */;
    --theme-toggle-icon-size: contain;
    /* OOUI */
    --oo-ui-button-text-color--primary: #000;
    --oo-ui-button-text-color--secondary: var(--content-text-link-color);
    --oo-ui-button-background-color--primary: var(--content-default-link-color);
    --oo-ui-button-background-color--primary-hover: #98c63b;
    --oo-ui-icon-filter--normal: invert(1);
    --oo-ui-icon-filter--required: invert(1);
    --oo-ui-icon-filter--destructive: none;
    --oo-ui-icon-filter--error: none;
    --oo-ui-icon-filter--alert: none;
    --oo-ui-icon-filter--success: none;
    --oo-ui-widget-disabled-opacity: 0.5;
    --oo-ui-button-background-color--framed: #343737;
    --oo-ui-button-background-color--quiet: var(--oo-ui-button-background-color--primary) /* TODO: merge */;
    --oo-ui-button-background-color--quiet-hover: rgba(var(--content-default-link-color--rgb), 0.15);
    --oo-ui-button-background-color--progressive-hover: #b2dd5b;
    --oo-ui-button-border-color: #709720;
    --oo-ui-button-text-color--hover: #000;
    --oo-ui-button-text-color--framed: var(--content-text-color);
    --oo-ui-button-text-color--frameless: var(--content-text-color);
    --oo-ui-button-text-color--frameless-hover: var(--content-text-color); /* TODO: different tone needed */
    --oo-ui-button-text-color--progressive: var(--oo-ui-button-text-color--secondary) /* TODO: merge */;
    --oo-ui-button-text-color--quiet-hover: var(--oo-ui-button-background-color--primary-hover) /* TODO: merge */;
    --oo-ui-input-background-color: #343737;
    --oo-ui-input-background-color--readonly: #2f2f2f;
    --oo-ui-input-border-color: rgba(var(--content-border-color--rgb), 0.7);
    --oo-ui-input-text-color: #fff;
    --oo-ui-input-text-color--readonly: #aaa;
    --oo-ui-tag-input-background-color: var(--oo-ui-input-background-color);
    --oo-ui-tag-input-background-color--outlined: #444848;
    /* DataMaps */
    --datamaps-notice-border-color: var(--content-border-color);
    --datamaps-notice-background-color: var(--ark-arkitex-right-color);
    --datamaps-container-background-color: var(--content-background-color);
    --datamaps-container-top-background-color: var(--tabber-background-hover-color);
    --datamaps-container-select-background--rgb: var(--content-border-color--rgb);
    --datamaps-container-legend-background-color: var(--toc-background-color);
    --datamaps-container-legend-selected-background-color: var(--toc-background-color);
    --datamaps-popup-background-color: var(--content-background-color);
    --datamaps-popup-text-color: var(--content-text-color);
    --datamaps-popup-text-link-color: var(content-text-link-color);
    --datamaps-popup-subtitle-text-color: #bbb;
    --datamaps-tabber-background-active-color: var(--tabber-background-active-color);
    --datamaps-tabber-background-color: #52711550;
    /* StickyHeader */
    --sticky-header-height: 50px;
    --sticky-search-border-radius: 4px;
    --sticky-button-border-radius: 8px;
    --sticky-header-background-color: rgba(90, 123, 22, 0.98);
    --sticky-header-shadow-color: #0000004a;
    --sticky-header-text-color: #fff;
    --sticky-header-link-color: #fff;
    --search-background-color--sticky: #fff6;
    --search-text-color--sticky: #222;
    --search-border-color--sticky: #313131;
    --search-text-color--placeholder-sticky: #333e;
    --sticky-button-text-color: #222;
    --sticky-button-border-color: #222;
    --sticky-button-background-color: #fff4;
    --sticky-button-hover-background-color: #a2bb6f;
    /* TemplateRessourceMap only used on mod versions of datamaps*/
    --trm-map-notice-border-color: #7FE7FF;
    --trm-map-notice-background-color: #6e92c06b;
    --trm-map-container-border-color: #000;
    --trm-map-container-background-color: var(--ark-dossier-background-color);
    --trm-map-checkbox-unchecked-color: #f5aaaa;
    --trm-map-checkbox-checked-color: #05bb25;
    --trm-map-spawninfo-border-color: #222;
}
/* endregion*/

/* #region search fixes */
.suggestions a.mw-searchSuggest-link,
.suggestions a.mw-searchSuggest-link:hover,
.suggestions a.mw-searchSuggest-link:active,
.suggestions a.mw-searchSuggest-link:focus {
	color: #ccc;
	text-decoration: none;
	background-color: #000;
}
.suggestions-result-current a.mw-searchSuggest-link,
.suggestions-result-current a.mw-searchSuggest-link:hover,
.suggestions-result-current a.mw-searchSuggest-link:active,
.suggestions-result-current a.mw-searchSuggest-link:focus {
	color: #fff;
	background-color: #333;
}
/* #endregion */