@media screen and (min-width: 1261px) {
	:root {
		--page-background-image: url(https://cdn.discordapp.com/attachments/618831235929604126/1056728807580647524/ARK_Launch_KeyArt_10000x4248.jpg);
		--wiki-logo-frame: url(https://cdn.discordapp.com/attachments/1121900715443507401/1154067332470153216/EN_test_mini.png);
		--wiki-logo-width: 194px;
		--wiki-logo-height: calc(762 / 1116 * var(--wiki-logo-width));
		--wiki-logo-disposition--top: 10px;
		--wiki-logo-offset--top: calc(-1 * var(--wiki-logo-height) + var(--wiki-logo-disposition--top));
		--wiki-logo-offset--left: calc(-1.1em - 7px);
		--sidebar-width: 180px;
		--layout-sidespace--left: 16px;
		--layout-sidespace--right: 16px;
		--layout-content-top-offset: calc(var(--wiki-logo-height) - var(--article-nav-height) - var(--wiki-logo-disposition--top) - var(--article-nav-disposition));
		--layout-column-gap: 0px;
		--content-navigation-top-offset: 28px;
		--content-background-color--rgb: 28, 30, 33;
		--content-horizontal-margin: 1.2em;
		--sidenav-header-text-color: var(--content-text-link-color);
		--content-navigation-top-offset: 0px;
		--article-nav-height: 40px;
		--content-body-top-margin: 0.6rem;
		--content-horizontal-margin: 1.9em;
		--search-height: 3em;
		--article-nav-disposition: -3px;
	}
	.rootpage-ARK_Wiki {
		--wiki-logo-frame: url(/images/1/17/Logo_frame_EN.png) /*[[File:Logo frame EN.png]]*/;
		--wiki-logo-height: 260px;
		--wiki-logo-width: 450px;
		--wiki-logo-offset--top: calc(-1 * var(--wiki-logo-height) + 12px);
		--wiki-logo-offset--left-part: 4px;
		--wiki-logo-offset--left: calc(50vw - var(--layout-sidespace--left) - var(--layout-column-gap) * 1.5
									   - var(--wiki-logo-width) / 2 + var(--sidebar-width) / 2 + var(--wiki-logo-offset--left-part));
		--layout-content-top-offset: calc(var(--wiki-logo-height) - 13px - var(--article-nav-height) - 1px);
	}
	.rootpage-ARK_Wiki #mw-content-text {
	  border: 0
	}
	body:not(.rootpage-ARK_Wiki) #content::before {
		content: unset;
	}
	body:not(.rootpage-ARK_Wiki) #p-logo a {
		background-image:var(--wiki-logo-frame);
	}
	.is-sidebar-hidden {
		--sidebar-width: 0px;
	}
	.is-sidebar-hidden #mw-panel {
		display: none;
	}
	body {
		grid-template-columns:
			[body-left] var(--layout-sidespace--left)
			[aside-left] var(--sidebar-width)
			[aside-right content-left] minmax(0, 1fr)
			[content-right] var(--layout-sidespace--right)
			[body-right];
		grid-template-rows:
			[body-start] var(--netbar-height)
			[page-start reserved-start] var(--layout-content-top-offset)
			[reserved-end nav-start] 0fr
			[nav-end content-start] auto
			[content-end footer-start] minmax(0, 1fr)
			[footer-end] 0fr
			[page-end] 0fr
			[body-end];
	}
	#mw-head-base {
		display: none;
	}
	#mw-head {
		grid-row: nav-start/nav-end;
		padding: 0;
		margin-bottom: var(--article-nav-disposition);
	}
	#ca-watch a {
		color: transparent;
	}
	.vector-menu-tabs ul li, .vector-menu-dropdown {
		background: #272a2f;
		margin-right: 0.5em;
		border: 3px solid var(--content-border-color);
		border-bottom-width: 0px;
		border-radius: 6px 6px 0 0;
		opacity: 0.95;
	}
	.vector-menu-dropdown .vector-menu-content {
		border-color: var(--content-border-color);
		border-width: 0 2px 2px;
		left: -2px;
	}
	.vectorMenu .vector-menu-heading span, .vectorTabs li a, .vectorMenu .mw-list-item a {
		font-weight: 700;
		text-transform: none;
	}
	.vector-menu-tabs ul li.selected {
		background: #1c1e21;
		border-bottom: 1px solid transparent;
		opacity: 1;
	}
	#mw-panel {
		width: var(--sidebar-width);
		padding-left: 1.1em;
		padding-top: 1em;
		border-right: 1px solid rgba(var(--content-border-color--rgb),0.4);
		background: rgba(var(--content-border-color--rgb),0.05);
		grid-row: content-start/footer-end;
		box-sizing: border-box;
	}
	#mw-head #left-navigation, #mw-head #right-navigation {
		align-items: stretch;
	}
	div#mw-panel div.portal div.body ul li a,
	div#mw-panel div.portal div.body ul li a:link,
	div#mw-panel div.portal div.body ul li a:visited {
		font-weight: 400;
		text-shadow: none;
	}
	div#mw-panel div.portal {
		background: none;
	}
	#mw-navigation #mw-panel > div h3 {
		background: none;
		padding-left: 0.1em;
	}
	#mw-panel .vector-menu-content {
		opacity: 0.8;
	}
	div#content {
		padding-left: calc(var(--sidebar-width) + var(--content-horizontal-margin));
		grid-column: aside-left/content-right;
		grid-row: content-start/content-end;
		box-shadow: none;
		border:3px solid var(--content-border-color);
		border-radius:6px
	}
	#footer {
		grid-column: aside-left/content-right;
		padding-left: calc(var(--sidebar-width) + var(--content-horizontal-margin));
		margin-bottom: 0;
		background-color: rgba(var(--content-background-color--rgb), 0.8);
	}
	#wikigg-footer {
		margin-top: 1.5em;
	}
	
	/** Imageless sidebar collapsible indicators **/
	#mw-panel .portal .vector-menu-heading::after {
	  content: '';
	  display: inline-block;
	  border-style: solid;
	  margin-left: 4px;
	  border-color: var(--sidenav-header-text-color) transparent;
	  border-width: 6px 5px 0;
	}
	#mw-panel .portal.collapsed .vector-menu-heading::after {
	  border-color: transparent var(--sidenav-header-text-color);
		border-width: 6px 0px 5px 5px;
	}

	#searchform {
		margin-top: -8px;
		margin-bottom: 2px;
	}
	div.games-showcase-header {
		--top-offset: -0.9em;
		top: unset;
		margin: var(--top-offset) calc(var(--content-horizontal-margin) * -1) 0 calc(var(--content-horizontal-margin) * -1 - 3px);
		border-bottom: 1px solid rgba(var(--content-border-color--rgb), 0.8);
	}
	aside.games-showcase-sidebar {
		margin-right: calc(var(--content-horizontal-margin) / -3 * 2);
	}
}

/*@media screen and (min-width: 900px) {
	:root {
		--pinned-toc-width: 240px;
		--content-pinned-toc-margin: 1em;
		--pinned-toc-offset--right: -0.9em;
	}
	.content-body > main #toc {
		width: var(--pinned-toc-width);
		position: absolute;
		right: calc(var(--pinned-toc-width) * -1 - var(--content-pinned-toc-margin) + var(--pinned-toc-offset--right));
		top: 0;
		bottom: 0;
		box-sizing: border-box;
		height: 100%;
		background: none;
		border: none;
		border-left: 1px solid rgba(var(--content-border-color--rgb), 0.9);
		padding: 7px 0 7px 1em;
	}
	#toc > ul {
		position: sticky;
		top: calc(var(--netbar-height) + var(--sticky-header-height) + 1em);
	}
	#bodyContent {
		margin-right: calc(var(--pinned-toc-width) + var(--content-pinned-toc-margin));
	}
	#sidebar-toc {
		background: none;
		border: none;
		border-left: 1px solid rgba(var(--content-border-color--rgb), 0.9);
		opacity: 0.6;
		margin-right: 0.6em;
		padding-left: 1em;
		position: sticky;
		top: calc(var(--netbar-height) + var(--sticky-header-height) + 1em);
		font-size: 90%;
		padding-right: 0;
		line-height: 1.3;
		min-width: 200px;
		width: 25vw;
		max-width: 310px;
		box-sizing: border-box;
		transition: opacity .1s;
	}
	#sidebar-toc:hover {
		opacity: 1;
	}
	#sidebar-toc li:hover{
		background-color: var(--ark-arkitex-left-color);
		background-clip: padding-box;
		border-radius: 3px;
	}
	#sidebar-toc > ul {
		overflow-y: auto;
		max-height: calc(100vh - var(--netbar-height) - var(--sticky-header-height) - 5em);
	}
	#sidebar-toc .toctext {
		word-wrap: anywhere;
	}
	#sidebar-toc ul ul {
		margin-left: 1.2em;
	}
}*/

/* CATEGORIES RESKIN */
#catlinks {
  background: none;
  border: none;
  color: var(--content-default-link-color);
}
.catlinks ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1px 3px;
  margin-top: 0.2em;
  margin-left: -0.4em;
}
.catlinks li, .catlinks li:first-child {
  padding: 0.3em 0.7em;
  border-radius: 9999px;
  border: 1px solid var(--content-border-color);
  opacity: 0.9;
}

  #simpleSearch {
	background:#272a2fdd;
	border: 2px solid var(--content-border-color);
	border-radius: 4px;
	box-shadow: inset 0 -7px 7px -7px rgba(0,0,0,.15),0 0 6px 2px #0003
  }
  #simpleSearch #searchInput {
	color:var(--content-text-color);
	background-color:transparent;
	border-color:#5a5a5a;
	height:var(--search-height)
  }
  #simpleSearch #searchInput::placeholder {
	color:#aaa;
  }
  #searchButton {
	opacity: 0.8;
	filter: brightness(200%);
  }
  .vector-menu-tabs-legacy li a,
  .vector-menu-tabs .mw-watchlink.icon a {
	height: 2.8em;
	padding-top: 0.8em;
  }
  .vector-menu-dropdown .vector-menu-heading {
	padding-top: 0.8em;
	padding-bottom: 0;
  }