/* [[de:MediaWiki:Theme-light.css]] * [[es:MediaWiki:Theme-light.css]] * [[fr:MediaWiki:Theme-light.css]] * [[it:MediaWiki:Theme-light.css]] * [[ja:MediaWiki:Theme-light.css]] * [[pl:MediaWiki:Theme-light.css]] * [[pt-br:MediaWiki:Theme-light.css]] * [[ru:MediaWiki:Theme-light.css]] * [[th:MediaWiki:Theme-light.css]] */
/* CSS placed here will affect users with the "Light" theme enabled */

/* #region Theme variables */
:root {
    /* Body */
    --page-background-image: url(/images/2/2f/Bg_ext.jpg?20231017) /*[[File:Bg dark.jpg]]*/;
    /* Logo assets */
    --wiki-logo-source--frame: url(/images/d/db/Framed_logo_ext.png?20231017) /*[[File:Framed logo dark.png]]*/;
	--wiki-logo-source--wordmark: url(/images/0/01/Framed_logo_wordmark_en.png?20231017) /*[[File:Framed logo wordmark.png]]*/;
	--wiki-logo-source--horizontal: url(/images/7/79/Logo_horiz.png?20231016) /*[[File:Logo horiz.png]]*/;
    /* Page content frame */
    --content-frame-image: url(/images/5/58/Border_frame_ext.png?20231017) /*[[File:Border frame ext.png]]*/;

    --theme-accent-color: #1a3118;     /*mission table outline*/
    --theme-accent-color--rgb: 248, 2, 2;
    --page-background-color: #f8f8f0;
    --page-background-color--rgb: 248, 248, 240;
    --content-background-color: #f6f8f0;
    --content-background-color--rgb: 246, 248, 240;
    --content-text-color: #020403;
    --content-header-color: #02231d;
    --content-text-link-color: #064B55;
    --content-border-color: #6e8c78;
    --content-border-color--rgb: 110, 140, 120;
    --content-frame-border-color: var(--content-border-color);
    --content-default-link-color: #043e26;    /* top tab, spawn command box*/
    --content-default-link-color--rgb: 154, 205, 50;
    --code-background-color: #def7ee;
    --code-border-color: #7b9d63;
    --content-text-top-border-color: #97bde1;
    --footer-background-color: rgba(var(--content-background-color--rgb), 0.8);
    --reference-background-color--highlight: #5e5e5e;
    /* Article navigation */
    --article-navigation-item-background-color: #ebeeddfa;
    --article-navigation-item-background-color--selected: #d9ead6;
    --article-navigation-item-border-color: var(--content-border-color);
    --article-navigation-dropdown-background-color: #e1e3d3fa;
    --article-navigation-item-underline-color: #087b08;
    --article-navigation-item-underline-color--active: #0e5616;
    /* Search */
    --search-background-color: #dbe8cd69;
    --search-background-color--sticky: #ecebe2;
    --search-border-color: var(--content-border-color);
    --search-border-color--active: var(--content-border-color);
    --search-border-color--sticky: #144a09;
    --search-text-color: #021e00;
    --search-text-color--sticky: #074212;
    --search-text-color--placeholder: #313f1c;
    --search-text-color--placeholder-sticky: #244d46;
	--search-button-filter--sticky: invert(1) brightness(20%);
    /* Site notice */
    --sitenotice-background-color: #0002;
    --sitenotice-border-color: var(--content-border-color);
    /* Sidebar */
    --sidenav-header-background: #436a3a;  /*arkitexure border*/
    --sidenav-header-background--rgb: 69, 140, 196;
    --sidenav-header-text-color: #1e2f37;
    --sidenav-background-color: #3d3e3d50;
    --sidenav-text-color: #080c09;
    --sidenav-text-hover-color: var(--content-text-link-color);
    --toolbar-background-color: #c4e1a0ce;
    --toolbar-list-background-color: #ebf2bcfa;
    --toolbar-border-color: #5c9f6a;
    --sidenav-toggle-icon-filter: invert(1);
    --ad-content-divider-color: var(--sidebar-content-divider-color);
    --sidebar-background-color: rgba(147, 230, 124, .08);
    --sidebar-content-divider-color: #3f7b2b;
    /* Table of contents */
    --toc-background-color: #eff4ec;
    --toc-number-color: #135625;
    /* Tabbers */
    --tabber-shadow-color: var(--ark-arkitex-border-color);
    --tabber-shadow-active-color: #02260c;
    --tabber-shadow-hover-color: #214d10;
    --tabber-background-hover-color: #d4e1c2;
    --tabber-text-hover-color: #034f26;
    --tabber-background-active-color: #e1ead4;
    --tabber-bottom-active-color: var(--tabber-shadow-hover-color);
    /* Tables */
    --table-background-color: #e3f0df;
    --table-border-color: #145b03;
    --table-heading-background-color: #cbe8df;
    --gray-table-background-color: #638867;
    --red-table-background-color: #FFCFCC;
    /* Frontpage */
    --fp-heading-text-color: #032e2b;
    --fp-heading-border-color: #166133;
    --fp-box-background-color: #eaf4e2;
    --fp-box-border-color: #5aa355;
    --fp-box-shadow-color: #4a5153;
    --fp-box-border-color--2: #2c5d1d;
    --fp-box-background-color--2: #ebf9f1;
    --fp-box-mainheading-text-color: #101d2f;
    --fp-labelled-icon-border-color: var(--content-default-link-color);
    --fp-labelled-icon-background: #91b08b80;
    --fp-social-icon-border-color: rgba(var(--content-border-color--rgb), 0.7);
    --fp-social-icon-background: #bcce987d;
    --fp-promo-shadow-color--1: #00000024;
    --fp-promo-shadow-color--2: #0003;
    --fp-promo-shadow-color--text: #fff;
    --fp-promo-text-color: #052208;
    --fp-promo-link-color: #020c15;
    /* [[Module:DinoIcon]] */
    --dino-icon-filter: brightness(500%) contrast(110%);
    --dino-icon-overlay--normal: linear-gradient( 130deg, rgb(150, 133, 37) 0%, rgb(10, 52, 21) 80% );
    --dino-icon-overlay--aberrant: linear-gradient(130deg, rgb(214, 83, 211) 0%,rgb(57, 4, 120) 100%);
    --dino-icon-overlay--balpha: linear-gradient(130deg, rgb(99, 29, 16) 0%,rgb(165, 30, 30) 100%);
    --dino-icon-overlay--bbeta: linear-gradient(130deg, rgb(31, 54, 86) 0%,rgb(23, 88, 129) 100%);
    --dino-icon-overlay--bgamma: linear-gradient(130deg, rgb(17, 76, 20) 0%,rgb(29, 118, 57) 100%);
    --dino-icon-overlay--x: linear-gradient(130deg, rgb(28, 79, 146) 35%,rgb(25, 108, 30) 65%);
    --dino-icon-overlay--r: linear-gradient(130deg, rgb(123, 121, 15) 0%,rgb(109, 14, 110) 95%);
    --dino-icon-overlay--vr: linear-gradient(130deg, rgb(20, 83, 150) 0%,rgb(102, 28, 146) 85%);
    --dino-icon-overlay--corrupt: linear-gradient(130deg, rgb(27, 5, 52) 30%,rgb(96, 32, 144) 60%);
    --dino-icon-overlay--event: linear-gradient(130deg, rgb(91, 14, 163) 20%, rgb(15, 127, 22) 80%);
    --dino-icon-overlay--brute: linear-gradient(130deg, rgb(154, 88, 14) 40%, rgb(193, 49, 13) 60%);
    --dino-icon-overlay--mtek: linear-gradient(130deg,rgb(191, 21, 15) 0%, rgb(11, 63, 131) 80%);
    --dino-icon-overlay--alpha: linear-gradient(130deg, rgb(69, 12, 9) 25%, rgb(178, 45, 11) 75%);
    --dino-icon-overlay--tek: linear-gradient(130deg,rgb(32, 113, 163) 20%, rgb(15, 29, 103) 100%);
    --dino-icon-overlay--enraged: linear-gradient(130deg, rgb(150, 74, 37) 0%, rgb(53, 9, 86) 80%);
    --dino-icon-overlay--wyvf:  linear-gradient(130deg, rgb(191, 12, 3) 0%, rgb(181, 159, 39) 80%);
    --dino-icon-overlay--wyvi: linear-gradient(130deg, rgb(3, 110, 191) 0%, rgb(25, 64, 111) 80%);
    --dino-icon-overlay--wyvl: linear-gradient(130deg, rgb(0, 200, 255) 0%, rgb(72, 5, 140) 80%);
    --dino-icon-overlay--wyvp: linear-gradient(130deg, rgb(47, 149, 53) 20%, rgb(106, 13, 134) 90%);
    --dino-icon-overlay--wyvb: linear-gradient(130deg, rgb(132, 9, 33) 0%, rgb(25, 3, 40) 80%);
    --dino-icon-overlay--wyvt: linear-gradient(130deg, rgb(85, 170, 18) 0%, rgb(31, 101, 134) 80%);
    --dino-icon-overlay--wyve: linear-gradient(130deg, rgb(255, 135, 0) 0%, rgb(102, 28, 11) 80%);
    --dino-icon-overlay--reaperk: linear-gradient(130deg, rgb(140, 70, 0) 0%, rgb(43, 5, 155) 100%);
    --dino-icon-overlay--reaperq: linear-gradient(130deg, rgb(196, 69, 210) 0%, rgb(39, 8, 70) 80%);
    /* Ambox */
    --ark-ambox-background-color: #97bb854d;
    --ark-ambox-border-color: #094405;
    --ark-ambox-blue: #0000aa;
    --ark-ambox-gray: #555555;
    --ark-ambox-green: #00aa06;
    --ark-ambox-purple: #a655b2;
    --ark-ambox-red: #aa0000;
    --ark-ambox-yellow: #aaaa00;
    --ark-ambox-cyan: #00ABA2;
    --ark-ambox-orange: #ffa500;
    /* Template:Navbox */
    --ark-navbox-title-text-color: var(--ntent-text-color);
    --ark-navbox-title-link-color: #0f2302;
    --ark-navbox-title-background-color: var(--ark-arkitex-background-color);
    --navbox-border-color: #137b55;
    --navbox-row-zebra-colour: #fff1;
    --ark-navboxgroup-title-background-color: #d2e5c7;
    --ark-navboxgroup-title-text-color: var(--content-text-color);
    --ark-navboxgroup-title-border-color: #2b522b;
    /* Arkitexure */
	--ark-arkitex-background-color: #e7eddf;
    --ark-arkitex-border-color: var(--sidenav-header-background);
    --ark-arkitex-border-color--rgb: var(--sidenav-header-background--rgb);
    --ark-arkitex-accent-color: #30723e;
    --ark-arkitex-left-color: #d5e3c3;
    --ark-arkitex-right-color: #cbe2cc;
    /* PaintRegion */
    --ark-paintregion-background-color: #e4ecde;
    --ark-paintregion-border-color: var(--content-border-color);
    /* Template:DossierText & Template:Quote */
    --ark-cite-quote-color: #264828d9;
    --ark-dossier-background-color: #cdeae536;
    --ark-dossier-border-color: #1b622aa6;
    --ark-dossier-text-color: #0f2820;
    --ark-dossiernote-background-color: #e1ecd0;
    --ark-dossiernote-border-color: #2a572f;
    /* Module:LootTable */
    --ark-loottable-background-color: #b2d4c59a;
    --ark-loottable-header-color: #0b58599a;
    /* Difficulty level colors */
    --ark-difficulty-gamma: #4edb17;
    --ark-difficulty-beta: #19cff9;
    --ark-difficulty-alpha: #f76450;
    --ark-difficulty-none: #BCEEFA;
    /* Template:Mission */
    --ark-mission-background-color: #edf7e7;
    --ark-mission-text-color: #000102;
    --ark-mission-border-color: var(--theme-accent-color);
    /* Template:HoverNote */
    --ark-hovertext-text-color: #4FB5FF;
    /* Kibble tables */
    --ark-kibbletable-border-color: #1b7514a6;
    --ark-kibbletable-background-color: #bfcea036;
    /* Math */
    --math-filter: none;
    /* OOUI */
    /* Useful for colourisation filters: https://codepen.io/sosuke/pen/Pjoqqp */
    --oo-ui-icon-filter--normal: none;
    --oo-ui-icon-filter--black: brightness(0);
    --oo-ui-icon-filter--normal-progressive: none;
    --oo-ui-icon-filter--destructive: none;
    --oo-ui-icon-filter--error: none;
    --oo-ui-icon-filter--alert: none;
    --oo-ui-icon-filter--success: none;
    --oo-ui-icon-filter--required: none;
	--known-black-icon-filter: none;
    /* DataMaps */
    --datamaps-notice-border-color: var(--content-border-color);
    --datamaps-notice-background-color: var(--ark-arkitex-right-color);
    --datamaps-container-background-color: var(--table-background-color);
    --datamaps-container-top-background-color: var(--tabber-background-hover-color);
    --datamaps-container-select-background--rgb: var(--content-border-color--rgb);
    --datamaps-container-legend-background-color: var(--toc-background-color);
    --datamaps-container-legend-selected-background-color: var(--toc-background-color);
    --datamaps-popup-subtitle-text-color: #9b9b9b;
    --datamaps-tabber-background-active-color: var(--tabber-background-active-color);
    --datamaps-tabber-background-color: #1f334db5;
    /* Sticky header */
    --sticky-header-background-color: rgb(32, 60, 21);
    --sticky-header-shadow-color: #0000004a;
    --sticky-header-text-color: #52cef4;
    --sticky-header-link-color: #cee6db;
    --sticky-button-text-color: #edfdff;
    --sticky-button-border-color: #081324;
    --sticky-button-background-color: #2c4a2c;
    --sticky-button-hover-background-color: #315932;
    /* [[Template:ResourceMap]] only used on mod versions of data maps */
    --trm-map-notice-border-color: #7FE7FF;
    --trm-map-notice-background-color: #6e92c06b;
    --trm-map-container-border-color: #000;
    --trm-map-container-background-color: var(--ark-dossier-background-color);
    --trm-map-checkbox-unchecked-color: #f5aaaa;
    --trm-map-checkbox-checked-color: #05bb25;
    --trm-map-spawninfo-border-color: #222;
    /* Adminlist */
    --adminlist-background-color: #c8c8c811;
    --adminlist-border-color: var(--content-border-color);
    /* toc links and file toc */
    --catlinks-background-color: var(--table-heading-background-color);
    --catlinks-border-color: var(--table-border-color);
    --catlinks-text-color: #80E7FF;
    /* Creature nav */
    --creature-nav-default-background-color: #f70404;
    --creature-nav-hover-shadow-color-1: #aaca;
    --creature-nav-hover-shadow-color-2: #111;
    --creature-nav-creature-color--white: #D5F2F2;
    --creature-nav-creature-color--yellow: #E5DFAC;
    --creature-nav-creature-color--lime: #CEF294;
    --creature-nav-creature-color--brown: #e5c6ac;
    --creature-nav-creature-color--purple: #CEACE5;
    --creature-nav-creature-color--orange: #FAD6A5;
    --creature-nav-creature-color--grey: #C4C4C4;
    --creature-nav-creature-color--green: #a6ffa9;
    --creature-nav-creature-color--cyan: #86e0f0;
    --creature-nav-creature-color--pink: #ffb0eb;
    --creature-nav-creature-color--red: #e5acb1;
    --creature-nav-creature-color--yellowish: #c0a264;
    /* History and diffs */
    --diff-background-color: rgba(189, 191, 161, .3);
    --diff-plusminus-pos-color: #00d200;
    --diff-plusminus-neg-color: #ff1010;
    --diff-deletedline-background-color: #E59E9E;
    --diff-deletedline-text-color: #27065f;
    --diff-deletedline-border-color: none;
    --diff-deletedline-diffchange-background-color: #be666394;
    --diff-addedline-background-color: #abda9a;
    --diff-addedline-text-color: #000e41;
    --diff-addedline-border-color: none;
    --diff-addedline-diffchange-background-color: #51b85694; 
    --diff-context-background-color: #d6ca9736;
    --diff-context-text-color: #06150f;
    --diff-context-border-color: #a6b6b5;
    --pagehist-selected-background-color: #f9ffe6;
    --pagehist-selected-text-color: var(--content-text-color);
    --pagehist-last-visit-color: #000;
    /* Common icons */
    --list-bulletpoint-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%225%22 height=%2213%22%3E %3Ccircle cx=%222.5%22 cy=%229%22 r=%222.5%22 fill=%22%23222%22/%3E %3C/svg%3E");
}
/* #endregion */

/* #region OOUI theming variables */
:root {
    --wmui-color-base0: #062602;
    --wmui-color-base10: #041001;
    --wmui-color-base20: #0d3f0e;
    --wmui-color-base30: #0f1e02;
    --wmui-color-base50: #31671d;
    --wmui-color-base70: #d7e3d3;
    --wmui-color-base80: #d7f4bb;
    --wmui-color-base90: #f5fae1;
    --wmui-color-base100: #e7efd7;
    --wmui-color-accent30: #86d279;
    --wmui-color-accent50: #400925;
    --wmui-color-accent90: #225207;
    --wmui-color-red30: #711616;
    --wmui-color-red50: #c82c2c;
    --wmui-color-red90: #e7a5a2;
    --wmui-color-yellow30: #ac6600;
    --wmui-color-yellow50: #edab00;
    --wmui-color-yellow90: #efda98;
    --wmui-color-green30: #0c6c3a;
    --wmui-color-green50: #00af89;
    --wmui-color-green90: #a2dea4;
    --wmui-color-green700: #096450;
    --wmui-color-base10--lighten: #102802;
    --wmui-color-accent50--lighten: #1e3c05;
    --wmui-color-red50--lighten: #971111;
    --wmui-color-green50--lighten: #1c6665;
    --wmui-color-purple50: #6b4ba1;
    --wmui-background-color-base: var(--wmui-color-base100);
    --wmui-background-color-base--hover: var(--wmui-color-base80);
    --wmui-background-color-base--disabled: var(--wmui-color-base80);
    --wmui-background-color-base--read-only: var(--wmui-color-base90);
    --wmui-background-color-code: var(--wmui-color-base90);
    --wmui-background-color-framed: var(--wmui-color-base90);
    --wmui-background-color-framed--hover: var(--wmui-color-base80);
    --wmui-background-color-framed--active: var(--wmui-color-base80);
    --wmui-background-color-filled--disabled: var(--wmui-color-base70);
    --wmui-background-color-quiet: var(--wmui-background-color-base);
    --wmui-background-color-quiet--hover: rgba(0, 24, 73, 0.02745098);
    --wmui-background-color-quiet--active: rgba(0, 24, 73, 0.08235294);
    --wmui-background-color-toolbar: var(--wmui-background-color-base);
    --wmui-background-color-tool--hover: var(--wmui-background-color-base--hover);
    --wmui-background-color-tool--active: var(--wmui-background-color-primary);
    --wmui-background-color-tool--active-hover: var(--wmui-background-color-primary--hover);
    --wmui-background-color-tabs: var(--wmui-color-base80);
    --wmui-background-color-error--framed: var(--wmui-color-red90);
    --wmui-background-color-warning--framed: var(--wmui-color-yellow90);
    --wmui-background-color-success--framed: var(--wmui-color-green90);
    --wmui-background-color-notice--framed: var(--wmui-color-base80);
    --wmui-background-color-highlight: rgba(255, 182, 13, 0.4);
    --wmui-color-base: var(--wmui-color-base10);
    --wmui-color-base--hover: var(--wmui-color-base10--lighten);
    --wmui-color-base--active: var(--wmui-color-base0);
    --wmui-color-base--inverted: #f9fce6;
    --wmui-color-base--emphasized: var(--wmui-color-base0);
    --wmui-color-base--subtle: var(--wmui-color-base30);
    --wmui-color-base--disabled: var(--wmui-color-base30);
    --wmui-color-filled--disabled: #495945;
    --wmui-color-accessory: var(--wmui-color-base20);
    --wmui-color-placeholder: var(--wmui-color-base30);
    --wmui-background-color-primary: var(--wmui-color-accent90);
    --wmui-background-color-primary--hover: rgba(41, 98, 204, 0.1);
    --wmui-color-primary: var(--wmui-color-accent90);
    --wmui-color-primary--hover: var(--wmui-color-accent50--lighten);
    --wmui-color-primary--active: var(--wmui-color-accent30);
    --wmui-color-primary--focus: var(--wmui-color-primary);
    --wmui-background-color-destructive: var(--wmui-color-red90);
    --wmui-color-destructive: var(--wmui-color-red50);
    --wmui-color-destructive--hover: var(--wmui-color-red50--lighten);
    --wmui-color-destructive--active: var(--wmui-color-red30);
    --wmui-color-destructive--focus: var(--wmui-color-destructive);
    --wmui-color-secondary: var(--wmui-color-green50);
    --wmui-color-secondary--hover: var(--wmui-color-green50--lighten);
    --wmui-color-secondary--active: var(--wmui-color-green30);
    --wmui-color-secondary--focus: var(--wmui-color-secondary);
    --wmui-color-error: var(--wmui-color-red50);
    --wmui-color-warning: var(--wmui-color-base0);
    --wmui-color-success: var(--wmui-color-green30);
    --wmui-color-success--framed: var(--wmui-color-base0);
    --wmui-color-notice: var(--wmui-color-base0);
    --wmui-color-tool--hover: var(--wmui-color-base--emphasized);
    --wmui-color-tool--active: var(--wmui-color-primary);
    --wmui-border-color-dialog: var(--wmui-border-color-base);
    --wmui-border-color-menu: var(--wmui-border-color-base);
    --wmui-border-color-base: var(--wmui-color-base50);
    --wmui-border-color-base--darken14:var(--wmui-color-base50);
    --wmui-border-color-base--hover: var(--wmui-color-base50);
    --wmui-border-color-base--active: var(--wmui-color-base30);
    --wmui-border-color-base--focus: var(--wmui-color-primary--focus);
    --wmui-border-color-base--disabled: var(--wmui-color-base70);
    --wmui-border-color-filled--disabled: var(--wmui-color-filled--disabled);
    --wmui-border-color-primary: var(--wmui-color-primary);
    --wmui-border-color-primary--hover: var(--wmui-color-primary--hover);
    --wmui-border-color-primary--active: var(--wmui-color-primary--active);
    --wmui-border-color-primary--focus: var(--wmui-border-color-primary);
    --wmui-border-color-destructive: var(--wmui-color-destructive);
    --wmui-border-color-destructive--hover: var(--wmui-color-destructive--hover);
    --wmui-border-color-destructive--active: var(--wmui-color-destructive--active);
    --wmui-border-color-destructive--focus: var(--wmui-border-color-destructive);
    --wmui-border-color-inset--focus: var(--wmui-color-base--inverted);
    --wmui-border-color-input--hover: var(--wmui-border-color-base--active);
    --wmui-border-color-heading: var(--wmui-color-base70);
    --wmui-border-color-divider: var(--wmui-color-base50);
    --wmui-border-color-wikitable: rgba(84, 89, 93, 0.3);
    --wmui-border-color-error: var(--wmui-color-red30);
    --wmui-border-color-warning: var(--wmui-color-yellow30);
    --wmui-border-color-success: var(--wmui-color-green700);
    --wmui-border-color-notice: var(--wmui-color-base30);
    --wmui-border-width-base: 1px;
    --wmui-box-shadow-base: inset 0 0 0 1px transparent;
    --wmui-box-shadow-base--focus: inset 0 0 0 1px var(--wmui-color-accent50);
    --wmui-box-shadow-primary--focus: inset 0 0 0 1px var(--wmui-color-primary), inset 0 0 0 2px var(--wmui-color-base--inverted);
    --wmui-box-shadow-destructive--focus: inset 0 0 0 1px var(--wmui-color-destructive), inset 0 0 0 2px var(--wmui-color-base--inverted);
    --wmui-box-shadow-filled--disabled: inset 0 0 0 1px var(--wmui-color-filled--disabled);
    --wmui-box-shadow-card: 0 1px 1px rgba(0, 0, 0, 0.15);
    --wmui-box-shadow-dialog: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    --wmui-box-shadow-menu: var(--wmui-box-shadow-dialog);
    --wmui-outline-color-base--focus: transparent;
    --wmui-text-shadow-base: 0 1px 1px var(--wmui-color-base--inverted);
    --wmui-text-shadow-base--disabled: var(--wmui-text-shadow-base);
    --wmui-background-color-base--active: var(--wmui-color-base80);
    --wmui-background-color-frameless--hover: var(--wmui-background-color-quiet--hover);
    --wmui-background-color-frameless--active: var(--wmui-background-color-quiet--active);
    --wmui-background-color-pending-stripe: var(--wmui-color-base80);
    --wmui-background-color-backdrop-light: rgba(255, 255, 255, 0.65);
    --wmui-color-base--deemphasized: var(--wmui-color-base20);
    --wmui-color-taboption: var(--wmui-color-base--hover);
    --wmui-color-destructive-non-primary: #ae1600;
    --wmui-border-color-framed-progressive--hover: var(--wmui-color-primary--hover);
    --wmui-border-color-framed-destructive--hover: var(--wmui-color-destructive--hover);
    --wmui-border-color-frameless: transparent;
    --wmui-border-color-focus-inset: var(--wmui-color-base--inverted);
    --wmui-border-color-dialog-bar: var(--wmui-color-base70);
    --wmui-border-width-frameless-tab: 2px;
    --wmui-border-color-toolbar: var(--wmui-color-base70);
    --wmui-border-color-toolgroup: var(--wmui-color-base80);
    --wmui-box-shadow-toolbar-top: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    --wmui-box-shadow-toolbar-bottom: 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    --wmui-box-shadow-progressbar: var(--wmui-box-shadow-card);
    --wmui-box-shadow-progressive-filled--focus: inset 0 0 0 1px var(--wmui-color-primary), inset 0 0 0 2px var(--wmui-color-base--inverted);
    --wmui-box-shadow-frameless-indicator--focus: 0 0 0 2px var(--wmui-color-primary);
    --wmui-box-shadow-action--focus: var(--wmui-box-shadow-base--focus), 0 0 0 1px var(--wmui-color-primary);
    --wmui-box-shadow-toolbar-action-button--focus: inset 0 0 0 2px var(--wmui-color-primary), inset 0 0 0 3px var(--wmui-color-base--inverted);
    --wmui-box-shadow-popuptoolgroup-tool--focus: inset 0 0 0 2px var(--wmui-color-primary--focus);
    --wmui-box-shadow-input-binary--active: inset 0 0 0 1px var(--wmui-color-primary--active);
    --wmui-box-shadow-error--focus: inset 0 0 0 1px var(--wmui-color-error);
    --wmui-filter-drop-shadow-menu: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
    --wmui-background-color-input-binary--active: var(--wmui-color-primary--active);
    --wmui-background-color-input-binary--checked: var(--wmui-color-primary);
    --wmui-border-color-input-binary: var(--wmui-border-color-base--active);
    --wmui-border-color-input-binary--active: var(--wmui-color-primary--active);
    --wmui-border-color-input-binary--checked: var(--wmui-color-primary);
    --wmui-border-width-radio--checked: 6px;
    --wmui-background-color-filled--primary-disabled: #a0a;
}
/* #endregion */

/* #region Article navigation icons */
@media screen and (max-width: 600px) {
    div.vector-menu-tabs li.selected a,
    div.vector-menu-tabs li.selected a:visited,
    body div.vector-menu-tabs li a,
    body #right-navigation div.vector-menu-dropdown h3 span {
        border-color: #000;
    }
    div.vector-menu-tabs li a::before,
    div.vector-menu-dropdown h3 span::before {
        filter: none;
    }
}
/* #endregion */

/* #region [[Template:ResourceMap]] */
.map-legend input[type="checkbox"] + label {
    color: #3c0000;
}
.map-legend input[type="checkbox"]:checked + label {
    color: #003c00;
}
/* #endregion */

/* #region Wikitext editor */
div.wikiEditor-ui-toolbar {
    --oo-ui-icon-filter--normal: none;
}
/* #endregion */

/* #region OOUI theming variables */
/* #endregion */
